<!-- TODO: Move? It needs to be here to prevent page jump though -->
<!-- TODO: Set tab index -->
<!-- If we don't display none it, you can tab through it :-( -->
<div class="main-menu-container" id="main-menu">
        <!-- TODO: Provide tabbable alternative -->
    <a href="#" class="main-menu-container__overlay"></a>
    <div class="main-menu-container__menu">
        <ul class="main-navigation">
            <li class="main-navigation__item navigation-border">
                    <!-- TODO: Firefox -->
                <details>
                    <summary class="main-navigation__item__button">
                        @fragments.inlineSvg("arrow-down", "icon")
                        Sport
                    </summary>
                    <ul class="main-navigation__secondary navigation-group">
                        <li class="navigation-group__item"><a href="#" tabindex="0">All sport</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Football</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Rugby union</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0"><span class="no-text-transform">F1</span></a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Tennis</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Golf</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Cycling</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Boxing</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Racing</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0">Rugby league</a></li>
                        <li class="navigation-group__item"><a href="#" tabindex="0"><span class="no-text-transform">US</span> sports</a></li>
                    </ul>
                </details>
            </li>
        </ul>
        <ul class="navigation-group navigation-border">
            <li class="navigation-group__item"><a href="#" tabindex="0">Jobs</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Dating</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Masterclasses</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Courses</a></li>
        </ul>
        <ul class="navigation-group navigation-border">
            <li class="navigation-group__item"><a href="#" tabindex="0">Crosswords</a></li>
        </ul>
        <ul class="navigation-group navigation-border">
            <li class="navigation-group__item"><a href="#" tabindex="0">The Observer</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Today’s Paper</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Sunday’s Paper</a></li>
        </ul>
        <ul class="navigation-group navigation-border">
            <li class="navigation-group__item"><a href="#" tabindex="0">Facebook</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Twitter</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Snapchat</a></li>
            <li class="navigation-group__item"><a href="#" tabindex="0">Instagram</a></li>
        </ul>
    </div>
</div>
